.container {
  width: 10px;
  height: 10px;
  /* background: #000; */
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -10px);
  bottom: calc((100vh - var(--drawer-default-height) + var(--border-radius) + 7px) / 2);
  z-index: 100;
}
.container::after {
  position: absolute;
  content: '🍚';
  width: 16px;
  height: 16px;
  font-size: 16px;
  background: rgb(var(--gola-VERYGOOD-rgb));
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 1;
  bottom: 16px;
  transform: translate(-10px, 0px);
}

.container::before {
  position: absolute;
  content: '';
  border-top: 32px solid rgb(var(--gola-VERYGOOD-rgb));
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: 0px;
  transform: translate(-10px, 0px);
}
