.card {
  position: absolute;
  width: 100%;
  height: var(--card-default-height);
  z-index: 100;
  border-radius: 12px;
  box-shadow: 1px 1px 16px 2px rgba(var(--primary-foreground-rgba), 0.06);
  border: 0px;
}

.contents {
  width: 100%;
}
