.container {
  position: fixed;
  padding: var(--drawer-inner-padding-t) var(--drawer-inner-padding-lr) var(--drawer-inner-padding-b);
  width: 100%;
  max-width: var(--max-width);
  bottom: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: rgb(var(--primary-background-rgb));
  color: rgba(var(--pribary-foreground-rgba));
  box-shadow: 0 0 10px 0 rgba(var(--primary-foreground-rgba), 0.2);
  transition: height 0.5s ease;
  z-index: 100;
}

.puller {
  position: absolute;
  top: calc(var(--border-radius) * 0.75);
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  border-radius: 5px;
  background-color: rgba(var(--primary-foreground-rgba), 0.1);
}

.content {
  position: relative;
  margin: auto;
  max-width: var(--drawer-max-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--drwaer-list-button-gap);
}

.list {
  list-style: none;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: var(--drawer-list-height);
  border-bottom: 1px solid #eee;
}

.list_item:last-child {
  border-bottom: none;
}

.list_item__title {
  flex: 1 1 0;
}

.list_item__content {
  flex: 2 2 0;
}

.list_item__button_guide {
  width: 100%;
  position: absolute;
  bottom: -1.5rem;
  color: rgba(var(--caption-foreground-rgba));
}

@media screen and (max-width: 360px) {
  .list_item {
    gap: 1rem;
  }
  .list_item__title {
    flex: 2 2 0;
  }
  .list_item__content {
    flex: 3 3 0;
  }
}
