.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}

.caption {
  position: absolute;
  left: 50%;
  bottom: 15vh;
  transform: translateX(-50%);
}
