@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*  1rem = 16px */
:root {
  --max-width: 700px;

  --header-default-height: 60px;
  --button-default-height: 40px;

  --border-radius: 12px;
  --border-radius-2: 8px;

  --animation-default-speed: 1s;
  --animation-half-speed: 0.5s;

  /* chosen by color scheme */
  --primary-background-rgb: 255, 255, 255;
  --primary-foreground-rgba: 0, 0, 0;

  --highlight-background-rgba: 71, 184, 224, 0.6;
  --highlight-foreground-rgba: 71, 184, 224, 0.9;

  --secondary-background-rgb: 245, 245, 245;
  --secondary-foreground-rgba: 0, 0, 0, 0.6;

  --caption-foreground-rgba: 0, 0, 0, 0.4;
  --error-foreground-rgba: 255, 95, 46, 0.8;

  --box-shadow-1: 1px 1px 8px 2px rgba(var(--primary-foreground-rgba), 0.08);
  --box-shadow-card: 2px 2px 8px 1px rgba(var(--primary-foreground-rgba), 0.1);
  --box-shadow-button: 2px 2px 4px 1px rgba(var(--primary-background-rgb), 0.3);

  --card-default-height: calc((100vh - var(--header-default-height)) * 0.7);

  --gola-verybad-rgb: 189, 21, 80;
  --gola-bad-rgb: 255, 95, 46;
  --gola-good-rgb: 140, 215, 144;
  --gola-verygood-rgb: 71, 184, 224;
  --gola-undo-rgb: 255, 201, 82;

  --disabled-background-rgb: 245, 245, 245;
  /***/

  --result-card-loser-default-height: 16px;

  --gola-padding-t: 20px;
  --gola-padding-b: 20px;
  --gola-padding-l: 30px;
  --gola-padding-r: 30px;

  --gola-padding-lr: calc(var(--gola-padding-l) + var(--gola-padding-r));
  --gola-padding-tb: calc(var(--gola-padding-t) + var(--gola-padding-b));

  --gola-button-count: 5; /* 골라페이지 버튼 개수에 의존 */

  --gola-button-default-width: calc((100vw - var(--gola-padding-lr)) / (var(--gola-button-count) * 2 - 3));
  --gola-button-default-height: var(--gola-button-default-width);

  --drawer-max-width: 25rem;

  --drawer-list-item-count: 4; /* drawer list item의 개수에 의존 */

  --drawer-list-height: 3rem;
  --drawer-button-height: 2.5rem;
  --drwaer-list-button-gap: 1.875rem;

  --drawer-maximun-height: 90%;

  --drawer-inner-padding-t: 1.25rem;
  --drawer-inner-padding-b: 2.5rem;
  --drawer-inner-padding-tb: calc(var(--drawer-inner-padding-t) + var(--drawer-inner-padding-b));
  --drawer-inner-padding-lr: 2.5rem;

  --drawer-content-height: calc(
    var(--drawer-list-item-count) * var(--drawer-list-height) + var(--drawer-button-height) + var(--drwaer-list-button-gap)
  );
  --drawer-default-height: calc(var(--drawer-content-height) + var(--drawer-inner-padding-tb));

  --swipeable-button-default-height: 32px;

  --guide-max-width: 400px;
  --guide-max-height: 600px;
  --guide-default-margin: 20px;
  --guide-default-padding: 30px;

  --guide-default-width: calc(100vw - var(--guide-default-margin) * 2);
  --guide-default-height: calc(100vw - var(--guide-default-margin) * 2);

  --guide-show-z-index: 5000;
  --guide-hide-z-index: -1;

  --left-start-position: calc(50vw - 50% + 12px);
  --left-start-position-after: var(--guide-default-margin);
  --bottom-start-position-after: var(--guide-default-margin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-rgb: 16, 16, 16;
    --primary-foreground-rgba: 245, 245, 245;
    --highlight-background-rgba: 71, 184, 224, 0.8;

    --secondary-background-rgb: 34, 34, 34;
    --secondary-foreground-rgba: 255, 255, 255, 0.7;

    --caption-foreground-rgba: 255, 255, 255, 0.6;

    --gola-good-rgb: 140, 215, 144;
    --gola-bad-rgb: 255, 95, 46;
    --gola-verygood-rgb: 71, 184, 224;
    --gola-verybad-rgb: 189, 21, 80;
    --gola-undo-rgb: 255, 201, 82;

    --disabled-background-rgb: 45, 45, 45;
  }
}

[data-theme='dark'] {
  --primary-background-rgb: 16, 16, 16;
  --primary-foreground-rgba: 245, 245, 245;
  --highlight-background-rgba: 71, 184, 224, 0.8;

  --secondary-background-rgb: 34, 34, 34;
  --secondary-foreground-rgba: 255, 255, 255, 0.7;

  --caption-foreground-rgba: 255, 255, 255, 0.6;

  --gola-good-rgb: 140, 215, 144;
  --gola-bad-rgb: 255, 95, 46;
  --gola-verygood-rgb: 71, 184, 224;
  --gola-verybad-rgb: 189, 21, 80;
  --gola-undo-rgb: 255, 201, 82;

  --disabled-background-rgb: 45, 45, 45;
}

[data-theme='light'] {
  --primary-background-rgb: 255, 255, 255;
  --primary-foreground-rgba: 0, 0, 0;

  --highlight-background-rgba: 71, 184, 224, 0.6;
  --highlight-foreground-rgba: 71, 184, 224, 0.9;

  --secondary-background-rgb: 245, 245, 245;
  --secondary-foreground-rgba: 0, 0, 0, 0.6;

  --caption-foreground-rgba: 0, 0, 0, 0.4;
  --error-foreground-rgba: 255, 95, 46, 0.8;

  --box-shadow-1: 1px 1px 8px 2px rgba(var(--primary-foreground-rgba), 0.08);
  --box-shadow-card: 2px 2px 8px 1px rgba(var(--primary-foreground-rgba), 0.1);
  --box-shadow-button: 2px 2px 4px 1px rgba(var(--primary-background-rgb), 0.3);

  --card-default-height: calc((100vh - var(--header-default-height)) * 0.7);

  --gola-verybad-rgb: 189, 21, 80;
  --gola-bad-rgb: 255, 95, 46;
  --gola-good-rgb: 140, 215, 144;
  --gola-verygood-rgb: 71, 184, 224;
  --gola-undo-rgb: 255, 201, 82;

  --disabled-background-rgb: 245, 245, 245;
}

* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  transition: background, color, border-color 0.5s ease-in-out;
}

*::-webkit-scrollbar {
  display: none;
}
html {
  position: fixed;
  width: 100%;
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-height: 700px) {
  :root {
    --card-default-height: 70vh;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --card-default-height: 60vh;
  }
}

@media screen and (max-height: 400px) {
  :root {
    --card-default-height: 50vh;
  }
}

@media screen and (min-width: 700px) {
  :root {
    --left-start-position: calc((100vw - 700px) / 2 + 12px);
    --gola-button-default-width: calc((700px - var(--gola-padding-lr)) / (var(--gola-button-count) * 2 - 3));
  }
}

@media screen and (min-width: 440px) {
  :root {
    --left-start-position-after: calc((100vw - var(--guide-max-width)) / 2);
  }
}

@media screen and (min-height: 640px) {
  :root {
    --bottom-start-position-after: calc((100vh - var(--guide-max-height)) / 2);
  }
}

/* force styling for external libraries */
:root {
  --swiper-navigation-color: #47b8e0 !important;
  --swiper-pagination-color: var(--swiper-navigation-color) !important;
  --swiper-navigation-size: 20px !important;
}
