.container {
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relative {
  position: relative;
}
.card_action_buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.setuser {
  position: fixed;
  left: 0;
  width: 100%;
  top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.setuser_input {
  text-align: center;
  font-size: 1rem;
}

.setuser_input:focus-visible {
  outline: none;
}
.logo {
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  font-size: 25px;
  border-radius: 12px;
  z-index: 20000;
}

.info > div {
  position: absolute;
  padding: 20px;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px 30px 50px 30px;
  }
  .info {
    font-size: 25px;
  }
}

/* # if width < 480px and height < 700px, .info font-size is 15px */
@media screen and (max-height: 600px) {
  .info {
    font-size: 15px;
  }
}
