.container {
  position: fixed;
  max-width: var(--guide-max-width);
  max-height: var(--guide-max-height);

  margin: auto;
  padding: 30px 5px 15px 5px;
  border-radius: var(--border-radius);

  width: calc(100% - var(--guide-default-margin) * 2);
  height: calc(100% - var(--guide-default-margin) * 2);

  bottom: 50%;
  left: 50%;
  transform: translate(-50%, +50%);
}

.delay {
  transition: opacity 0.3s 0.3s ease-in-out, visibility 0.3s 0.3s ease-in-out, background, color 0.5s ease-in-out;
}

.nodelay {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background, color 0.5s ease-in-out;
}
