.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-default-height) + env(safe-area-inset-top));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: env(safe-area-inset-top) 20px 0 20px;
  border-bottom: 1px solid #00000020;
  border-top: 1px solid #00000020;
  z-index: 4000;

  background-color: rgb(var(--primary-background-rgb));
  box-shadow: 0 0 10px 0 rgba(var(--primary-foreground-rgba), 0.125);
}
