.main {
  height: var(--max-height);
  overflow: hidden;
  width: 100%;
  background-color: rgb(var(--primary-background-rgb));
  color: rgba(var(--primary-foreground-rgba));
}

.body {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  margin-top: var(--header-default-height);

  height: 100%;
  height: calc(100% - var(--header-default-height));
  overflow-y: scroll;
}
