.container {
  overflow: scroll;
  padding: 15px 25px;
}

.losers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loser {
  display: flex;
  align-items: center;
  gap: 16px;
  height: var(--result-card-loser-default-height);
}

.loser__title {
  flex: 1 1 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loser__bar {
  height: var(--result-card-loser-default-height);
  flex: 2 2 200px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button_box {
  width: 100%;
  margin: 20px 0;
}
