.search_result {
  position: fixed;
  width: 100vw;
  height: var(--max-height);
  max-width: var(--max-width);
  top: 0;
  background: rgb(var(--primary-background-rgb));
  z-index: 0;
}

.search_result__content {
  width: calc(100vw - var(--search-box-margin-lr) * 2);
  top: calc(var(--search-box-margin-tb) * 2 + var(--search-box-height));
  left: 0;
  right: 0;
  margin: auto;
}

.search_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--search-box-margin-tb) auto;
  width: var(--search-box-width);
  max-width: var(--max-width);
  height: var(--search-box-height);

  display: flex;

  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(var(--secondary-background-rgb));
  border-radius: var(--border-radius);
  z-index: 1;
}

.search_box__input {
  height: 100%;
}
