.search_result {
  position: fixed;
  width: 100vw;
  height: calc(
    var(--max-height) - var(--drawer-default-height) + var(--drawer-list-height) + var(--drawer-list-button-gap) + var(--border-radius)
  );
  max-width: var(--max-width);
  top: 0;
  z-index: 0;
  background: rgb(var(--secondary-background-rgb));
  padding-top: calc(var(--search-box-margin-tb) * 2 + var(--search-box-height));
}

.search_result > div {
  height: 100%;
  overflow-y: scroll;
  border-top: 1px solid rgb(var(--tertiary-background-rgb));
}

.search_result__ul {
  width: calc(100vw - var(--search-box-margin-lr) * 2);
  left: 0;
  right: 0;
  margin: auto;
  list-style: none;
  padding-bottom: calc(var(--border-radius) + var(--swipeable-button-default-height) + 15px);
}

.search_result__li {
  padding: 5px 0;
}

.search_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--search-box-margin-tb) auto;
  width: var(--search-box-width);
  max-width: calc(var(--max-width) - var(--search-box-margin-lr));
  height: var(--search-box-height);

  display: flex;

  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  z-index: 1;
  background: rgb(var(--secondary-background-rgb));
}

.search_box__input {
  height: 100%;
}
