/* Search Result */
.search_result {
  position: fixed;
  width: 100vw;
  height: var(--max-height);
  max-width: var(--max-width);
  top: 0;
  z-index: 0;
  background: rgb(var(--secondary-background-rgb));
  padding-top: calc(var(--search-box-margin-tb) * 2 + var(--search-box-height));
}

.search_result > div {
  height: 100%;
  overflow-y: scroll;
  border-top: 1px solid rgb(var(--tertiary-background-rgb));
}

.search_result__ul {
  width: calc(100vw - var(--search-box-margin-lr) * 2);
  left: 0;
  right: 0;
  margin: auto;
  list-style: none;
  padding-bottom: calc(var(--border-radius) + var(--swipeable-button-default-height) + 15px);
}

.search_result__li {
  padding: 10px 0;
  cursor: pointer;
}
.search_result__li::after {
  content: '';
  width: calc(100% - 39px + 6px);
  right: -6px;
  bottom: -1px;
  height: 1px;
  position: absolute;

  background-color: rgb(var(--tertiary-background-rgb));
}

.search_result__li_btn {
  margin-left: auto;
  width: 24px;
  height: 100%;
}

/* Search Box */
.search_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--search-box-margin-tb) auto;
  width: var(--search-box-width);
  max-width: calc(var(--max-width) - var(--search-box-margin-lr));
  height: var(--search-box-height);

  display: flex;

  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  z-index: 1;
  background: rgb(var(--secondary-background-rgb));
}

.search_box__input {
  height: 100%;
}

/* Select Box */
.select_box {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: calc(var(--drawer-default-height) - var(--drawer-list-height) * 3 + var(--swipeable-button-default-height));
  margin-right: var(--select-box-margin-r);
  margin-bottom: var(--select-box-margin-b);
  border-radius: 100px;
  background-color: rgb(var(--gola-bad-rgb));
}

.select_box > button {
  width: 100%;
  height: 100%;
}
