.container {
  max-width: var(--max-width);
  height: var(--max-height);
  padding: var(--padding-container);
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

.content {
  margin-top: calc(var(--search-box-height) + var(--search-box-margin-tb) * 2);

  height: 100%;
  width: 100%;
}
