.container {
  position: absolute;
  width: 100%;

  bottom: calc(var(--drawer-default-height) - var(--header-default-height));
  padding: 5px 10px;
  overflow: auto;
  white-space: nowrap;
}

.butfalse {
  animation: slideRight var(--animation-half-speed) none ease-in;
}
.buttrue {
  animation: slideLeft var(--animation-half-speed) forwards ease-out;
}

.button {
  height: 32px;
  min-width: 32px;
  border: none;
  background: rgb(var(--primary-background-rgb));
  border-radius: 100px;
  padding: 0px 12px;
  box-shadow: var(--box-shadow-button);
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin-right: 5px;

  transition: all var(--animation-half-speed);
}

.button:first-child {
  padding: 0px;
  max-width: var(--guide-max-width);
  max-height: var(--guide-max-height);
}

.false {
  animation: scaleDown var(--animation-half-speed) none;
}

.true {
  position: fixed;
  z-index: 4000;

  animation: scaleUp var(--animation-half-speed) forwards ease-in-out;
}

.true > div {
  color: transparent;
}

@keyframes scaleUp {
  0% {
    width: var(--swipeable-button-default-height);
    height: var(--swipeable-button-default-height);
    border-radius: 100px;
    left: var(--left-start-position);
    bottom: calc(var(--drawer-default-height) + var(--swipeable-button-default-height) / 2 - 10px);
  }
  100% {
    width: calc(100vw - var(--guide-default-margin) * 2);
    height: calc(var(--max-height) - var(--guide-default-margin) * 2);

    box-shadow: var(--box-shadow-button);
    border-radius: var(--border-radius);

    left: var(--left-start-position-after);
    bottom: var(--bottom-start-position-after);
  }
}

@keyframes scaleDown {
  0% {
    position: fixed;
    width: calc(100vw - var(--guide-default-margin) * 2);
    height: calc(var(--max-height) - var(--guide-default-margin) * 2);

    left: var(--left-start-position-after);
    bottom: var(--bottom-start-position-after);

    box-shadow: var(--box-shadow-button);
    border-radius: var(--border-radius);
    z-index: 3000;
  }
  100% {
    position: fixed;
    width: var(--swipeable-button-default-height);
    height: var(--swipeable-button-default-height);
    border-radius: 100px;
    bottom: calc(var(--drawer-default-height) + var(--swipeable-button-default-height) / 2 - 10px);
    left: var(--left-start-position);
  }
}

@keyframes slideLeft {
  0% {
    padding-left: calc(10px + var(--swipeable-button-default-height));
  }
  100% {
    padding-left: 10px;
  }
}

@keyframes slideRight {
  0% {
    padding-left: 10px;
  }
  100% {
    padding-left: calc(10px + var(--swipeable-button-default-height));
  }
}
