.container {
  position: fixed;
  width: 100%;

  z-index: 1000;
  bottom: var(--drawer-default-height);
  padding: 5px 10px;
  overflow: auto;
  white-space: nowrap;
}

.button {
  height: 32px;
  min-width: 32px;
  border: none;
  background: rgb(var(--primary-background-rgb));
  border-radius: 100px;
  padding: 0px 12px;
  box-shadow: var(--box-shadow-button);
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin-right: 5px;
}
